/* CART */

.cart {
  margin: 60px 0px;
}

.cart > section + section {
  margin-top: 40px;
}

.products,
.cartItems {
  background: var(--white);
  border-radius: 20px;
  padding: 30px 0px;
  box-shadow: var(--shadow);
}

.products h2,
.cartItems h2 {
  padding: 0px 20px 20px 20px;
  text-align: center;
}

.products hr,
.cartItems hr {
  border: 1px solid var(--gray);
  margin: 0px;
}

.emptyCart,
.loadingProducts {
  margin: 40px 20px;
  opacity: 0.5;
}

/* PRODUCTS */

.products ul {
  display: flex;
  margin: 20px 20px 0px 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.products ul li {
  border: 2px solid var(--gray);
  cursor: pointer;
}

.products ul li img {
  object-fit: cover;
  width: 80px;
  height: 80px;
  max-width: 80px;
}

.products ul li + li {
  margin-left: 10px;
}

/* CART ITEMS */

.cartItems ul {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.cartItems ul li {
  display: flex;
  align-items: center;
  position: relative;
}

.cartItems ul li + li {
  margin-top: 30px;
}

.itemImg {
  border: 2px solid var(--gray);
  margin-right: 40px;
}

.itemImg img {
  object-fit: cover;
  width: 160px;
  height: 160px;
  max-width: 160px;
}

.itemInfo h3 {
  margin-bottom: 20px;
  text-transform: lowercase;
}

.itemInfo h3::first-letter {
  text-transform: uppercase;
}

.itemInfo span {
  opacity: 0.5;
}

.itemInfo p {
  margin-top: 10px;
}

.itemRemove {
  position: absolute;
  left: -10px;
  top: -10px;
}

.itemRemove span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: var(--red);
  color: var(--white);
  cursor: pointer;
}

.payment {
  padding: 30px 20px 30px 20px;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total div p {
  margin-top: 10px;
  color: var(--green);
  text-align: center;
}

.shipping {
  margin-top: 30px;
}

.shipping p {
  display: table;
  text-align: center;
  margin: 0 auto;
  color: var(--green);
  background: var(--greenLight);
  padding: 20px;
  border-radius: 30px;
}

.buy {
  padding: 20px 20px 0px 20px;
}

.buy button {
  border: none;
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--white);
  background: var(--blue);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .cartItems ul li {
    flex-direction: column;
    align-items: flex-start;
  }
  .cartItems ul li + li {
    margin-top: 40px;
  }
  .itemImg {
    margin-right: 0px;
    width: 100%;
  }
  .itemImg img {
    max-width: 100%;
    width: 100%;
  }
  .itemInfo {
    margin-top: 20px;
  }
}
